<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Movie
  </div>

  <ul class="list-group list-group-flush">
    <% @bookmark_status.movie.each do |user_detail| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a href="/user_details/<%= user_detail.id %>">
          <%= user_detail %>
        </a>

      </li>
    <% end %>

  </ul>
</div>
