<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @review_detail, partial: "card", as: :review_detail %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "review_details/review_detail_movie" %>
  </div>
</div>
  <!-- Show Page Customization end -->
