<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @director_detail, partial: "card", as: :director_detail %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "director_details/director_detail_movies" %>
  </div>
</div>
