<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Actor Details

    <a data-toggle="collapse" href="#movie_actor_details_new_form">
      Add actor detail
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @movie.actor_details.each do |actor_detail| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to actor_detail, actor_detail %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to actor_detail, method: :delete, data: { confirm: "Do you really want to delete this actor_detail" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="movie_actor_details_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "movies/movie_actor_details_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
