<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @actor_detail, partial: "card", as: :actor_detail %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "actor_details/actor_detail_character_details" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "actor_details/actor_detail_movies" %>
  </div>
</div>
